

/* ======================================================= */
/* AUTRES */
.creatureTable tr td{
    
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.modal-open {
    overflow: scroll;
    margin-right: -17px; /* prise en compte de la scrollbar */
}

.titre { 
    /*background: url(images/sky-trip.jpg);
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: center center; */
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: center;
    font-family:Time new roman; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff; 
    text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red, 0px 5px 10px black; 
    font: 80px 'BlackJackRegular';
}

body {
    padding-top: 70px;
    background:url(images/Inquisiton10.png);
    background-position:center center;
}

.container-fluid{
}

.well{
    text-align: center;
    vertical-align: middle;
    background: url(images/sky-trip.jpg);
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: center center; 
    color: white;
    border: 0px;
}

/* ======================================================= */
/* NAVBAR BOOTSTRAP */


.navbar-default {
    background-color: #006699;
    border-color: #000066;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}


/* ======================================================= */
/* TABLEAUX */

.transparant tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
}

.transparant tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0);
}

.table tbody tr td {
    border-top: 0px solid;
    border-color: black;
    vertical-align:middle;
    border: 0px solid;
    text-align: center;
}

.table thead th{
    border-top: 0px solid;
    border-color: black;
    vertical-align:middle;
    border: 0px solid;
    text-align: center;
}

.table{
}

.table thead{
    color: white;
    background: url(images/sky-trip.jpg);
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: center center;     
    font-weight:bold;   
}

/* ======================================================= */
/* Text Style */

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
}

.text-red{
    color: red;
}

.text-green{
    color: green;
}


.gras{
    font-weight:bold;
}


